// COLORS
$primary-color : black;
$secondary-color: rgb(133, 189, 199);
$third-color: #35354d;
$background-color: rgba(172, 180, 226, 0.051);


// FONT SIZE
$font-size-small: 18px;
$font-size-medium: 25px;
$font-size-large: 35px;
$font-size-xlarge: 30px;
$font-size-xxlarge: 35px;

// FONT WEIGHT
$thin: 400;
$regular: 500; 
$semi-bold: 600;
$bold: 800;